body {
    background-color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    display: grid;
    grid-template-columns: 400px 150px;
    grid-template-rows: 400px;
    background: #fff;
}

.main {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 80px 320px;
}

.main__date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__header {
 font-size: 25px;
 margin: 0 30px;
}

.main__arrow {
    height: 15px;
}

.main__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    text-align: center;
    padding: 0 30px 30px;
    /* margin-bottom: 30px; */
}

.main__weekdays {
    opacity: .6;
}

.date {
    align-self: center;
    color: black;
    text-decoration: none;
}

.date--last-month {
    opacity: 0.3;
}

.date--hover {
    padding: 6px;
    border-radius: 50%;
    outline: none;
}

.date--hover--fix {
    padding: 6px 8px;
}

.date--hover:hover {
    background-color: #8479BD;
}

.date--hover:focus { 
    background-color: #8479BD;
}

.date--hover--single {
    padding: 6px 11px;
}

.date--hover--single--fix {
    padding: 6px 13px;
}

.date--last-month .date--hover:hover {
    background-color: rgb(247, 166, 74);
}

.date--last-month .date--hover:focus {
    background-color: rgb(247, 166, 74);
}


.aside {
    background-color: #4930A8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.aside__header {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    padding: 15px 0;
    margin: 0;
}

.aside__paragraph {
    font-size: 12px;
    margin: 0;
    color: #fff;
    opacity: 0.6;
    padding: 0 12px 10px;
    border-bottom: 2px solid #fff;
}

.plans {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    color: #fff;
}

.plans__plan {
    padding: 15px;
}

.plans__time {
    margin: 0;
    opacity: 0.7;
    font-size: 12px;
}

.plans__description {
    margin: 5px 0 0;
    font-size: 14px;
}

.aside__button {
    margin-bottom: 20px;
    perspective: 1000px;
}

.button {
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    color: gray;
    transition: 0.6s ease-out;
    transform-style: preserve-3d;
}

.button__text {
    padding-left: 5px;
}

.button:hover {
    transform: rotateY(-360deg) rotateZ(-10deg) scale(1.3) rotateX(360deg);
    box-shadow: 0 0 10px rgb(233, 233, 233);
    border-radius: 5px;
}

.main__arrow {
    padding: 5px;
    border-radius: 50%;
}

.main__arrow:hover {
    background-color: rgb(247, 166, 74);
}

@media screen and (width: 411px) {
    .calendar {
        grid-template-rows: 400px 350px;
    }
}

@media screen and (max-width: 414px) {
    .calendar {
        grid-template-columns: 1fr;
    }

    .aside {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .main {
        grid-template-columns: 350px;
        grid-template-rows: 1fr 270px;
    }

    .main__dates {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 360px) {
    .main {
        padding-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        justify-content: inherit;
    }

    .calendar {
        grid-template-rows: 370px 310px;
    }

    .main {
        grid-template-rows: 1fr 250px;
    }

    .main__date {
        padding: inherit;
    }
}

@media screen and (min-width: 568px) {
    .calendar {
        grid-template-rows: 350px;
    }

    .main {
        grid-template-rows: 90px 300px;
    }
}